@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "Cairo", system-ui, -apple-system;
}

body {
  font-family: var(--font-sans);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.4);
  border-radius: 9999px;
}
